<p>test-user works!</p>

<form>
  <input type="text" placeholder="name..." [(ngModel)]="name" name="name" />
  <input type="email" placeholder="email..." [(ngModel)]="email" name="email" />
  <button (click)="createUser()">Create User</button>
  <hr />
</form>

<div>
  <button (click)="updateUser(8346528)">Update User</button>
  <br />
  <button (click)="logUsers()">Log All Users</button>
</div>

<div class="users" *ngFor="let user of users">
  <hr />
  <span>{{ user.name }}</span>
  <br />
  <span>{{ user.email }}</span>
  <br />
  <button (click)="deleteUser(user.id)">Delete User</button>
  <hr />
</div>
